<html>
    <head>

    </head>
    <body>
        <div>
            <h2>Lenguajes de Programación</h2>
        </div>
        <div>
            <ol>
                <li>
                    Java
                    <img src="./assets/java.jpg">
                </li>
                <li>Python
                    <img src="./assets/python.jpg">
                </li>
                <li>
                    Ruby
                    <img src="./assets/ruby.jpg">
                </li>
                <li>
                    JavaScript
                    <img src="./assets/js.png">
                </li>
                <li>
                    php
                    <img src="./assets/php.png">
                </li>
                <li>
                    Scala
                    <img src="./assets/scala.png">
                </li>
                <li>
                    Elixir
                    <img src="./assets/elixir.jpg">
                </li>
                <li>
                    Clijure
                    <img src="./assets/clojure.png">
                </li>
                <li>
                    Visual Basic
                    <img src="./assets/vb.jpg">
                </li>
                <li>
                    C++
                    <img src="./assets/c.png">
                </li>
            </ol>
        </div>
    </body>
</html>
